#n1{
  height: 1200px;
  width: 1100px;
  background-color: white;
}
#n2{
  height: 500px;
  width: 500px;
  background-color: white;
  float: left;
}
#n3{
  height: 500px;
  width: 500px;
  background-color: white;
  float: right;
}
.p2{
  font-size: 25px;
  width: 500px;
  height: 500px;
  float: right;

}
.p3{
  font-size: 25px;
  width: 500px;
  height: 500px;
}
}
.a1{
  font-family: "Montserrat";
}
.a2{
  font-family: "roboto mono";
}
#img1{
  height: 400px;
  width: 400px;
  float: left;
}
#img2{
  height: 400px;
  width: 400px;
  float: left;
}
#img3{
  height: 400px;
  width: 400px;
  float: right;
}
