h1{
  color :black;
}
#a1{
  font_side:25pt;
}
#n0{
  width:500px;
  height: 400px;
  margin: auto;
  font-family: roboto mono;
  font-size:10px;
  background: ghostwhite;
}
#n2{
  width:382px;
  font-size: 8pt;
  color: #787878;
  margin-left: 70px;
  margin-bottom: 0px;
}
b{
  color: black;}

